[submodule "deps/lua"]
	path = deps/lua
	url = git@github.com:nartes/lua.git
[submodule "deps/radare2book"]
	path = deps/radare2book
	url = git@github.com:nartes/radare2book.git
[submodule "deps/radare2"]
	path = deps/radare2
	url = git@github.com:nartes/radare2.git
[submodule "deps/radare2-r2pipe"]
	path = deps/radare2-r2pipe
	url = git@github.com:nartes/radare2-r2pipe.git
[submodule "deps/keras-rl"]
	path = deps/keras-rl
	url = https://github.com/keras-rl/keras-rl
[submodule "deps/rpdb"]
	path = deps/rpdb
	url = https://github.com/tamentis/rpdb
