[submodule "deps/lua"]
	path = deps/lua
	url = https://github.com/nartes/lua
[submodule "deps/radare2book"]
	path = deps/radare2book
	url = https://github.com/nartes/radare2book
[submodule "deps/radare2"]
	path = deps/radare2
	url = https://github.com/radare/radare2
[submodule "deps/radare2-r2pipe"]
	path = deps/radare2-r2pipe
	url = https://github.com/nartes/radare2-r2pipe
[submodule "deps/keras-rl"]
	path = deps/keras-rl
	url = https://github.com/keras-rl/keras-rl
